.container {
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: azure;
    width: 30%;
    height: 58%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    padding-bottom: 35px;
    border: 1px dotted darkgray;
}

input {
    margin-right: 30px;
    margin-left: 10px;
    padding: 10px 0px 20px 10px;
    display: flex;
    width: 70%;
    border: 1px dotted lightblue;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    color: black;
    font-weight: 700;
    padding-left: 10px;
}

h1 {
    position: absolute;
    top: 150px;
    left: 150px;
    font-size: medium;
    font-weight: 600;
    color: teal;
    text-decoration: 5px underline;
}

button {
    background: #80c9c6;
    padding: 10px;
    border: none;
    color: white;
    position: absolute;
    top: 85%;
    left: 70%;
    width: 100px;
}

.success {
    color: #63918f;
    position: absolute;
    top: 20%;
    left: 30%;
    background: #c5e0df;
    border: 1px dotted #63918f;
    box-shadow: 0 0 5px darkslategrey;
    width: 300px;
    height: 40px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    /* border:1px dotted darkslategrey; */
    /* width:40px;
    height:25px; */
}

.error_msg {
    color: red;
    font-size: medium;
}

.input-error {
    box-shadow: 0 0 5px red;
}

center {
    font-size: medium;
    top: 120px;
    position: absolute;
    left: 370px;
    border: dotted 2px darkgreen;
    color: #0e8563;
    background: #94cdcd;
    padding: 10px 10px 10px 10px;
}