* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    width: 10%;
    height: 100%;
    background-color: #80c9c6;
    padding: 30px 0;
}

.wrapper .sidebar ul li {
    padding: 15px;
    font-weight: bolder;
}

.wrapper .sidebar ul li a {
    color: darkslategray;
    display: block;
}

.wrapper .sidebar ul li:hover {
    background-color: white;
}

.wrapper .sidebar ul li:hover a {
    color: grey;
}

.list {
    margin-top: 80px;
}


/* for top navigation*/

.topnav {
    background-color: #ebba62;
    position: absolute;
    left: 10%;
    height: 100px;
    width: 90%;
}

header a {
    background: #80c9c6;
    padding: 10px;
    border: none;
    color: white;
    position: absolute;
    left: 82%;
    top: 25%;
}

.icon {
    background: #80c9c6;
    padding: 10px;
    border: none;
    color: white;
    position: absolute;
    left: 90%;
    top: 25%;
    border-radius: 4px;
    width: 35px;
    text-align: center;
}