* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: rgb(101 177 173);
    padding-left: 30px;
}

.container {
    position: absolute;
    top: 40%;
    left: 60%;
    background-color: azure;
    width: 390px;
    height: 300px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    padding-bottom: 35px;
}

form.form-box {
    padding: 30px;
}

button {
    background: #80c9c6;
    padding: 10px;
    border: none;
    color: white;
    position: absolute;
    left: 70%;
    top: 80%;
    width: 70px;
}

input {
    margin-right: 30px;
    margin-left: 10px;
    padding: 10px 0px 20px 10px;
    display: flex;
    width: 100%;
    border: 1px dotted lightblue;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    color: black;
    font-weight: 700;
}

.error {
    color: red;
    font-weight: 100;
    font-size: medium;
}